build: false
environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

    CONAN_UPLOAD: "https://api.bintray.com/conan/uilianries/conan"
    CONAN_REFERENCE: "Catch/1.9.4"
    CONAN_USERNAME: "uilianries"
    CONAN_CHANNEL: "ci"
    CONAN_TOTAL_PAGES: 1

    matrix:
        - CONAN_CURRENT_PAGE: 1

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade conan conan_package_tools
  - conan user
test_script:
  - python build.py
